@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">

    <div class="row mt-3">
        <div class="col">
            <h1 class ="display-3">Tasks To Do</h1>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <h3 class="display-5">Urgent</h3>
        </div>
        <div class="col-md-5">
            <h3 class="display-5">Not Urgent</h3>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-2">
            <h3 class="display-5">Important</h3>
        </div>
        <div class="col-md-5">
            <p></p>
        </div>
        <div class="col-md-5">
            <p></p>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-2">
            <h3 class="display-5">Not Important</h3>
        </div>
        <div class="col-md-5">
            <p></p>
        </div>
        <div class="col-md-5">
            <p></p>
        </div>
    </div>
</div>