@model Mission08_Team0306.Models.TaskViewModel
@{
    ViewData["Title"] = "TasksView";
}
<h1>@ViewData["Title"]</h1>

<div class="container-fluid">
    <form method="post">
        <input type="hidden" asp-for="TaskId"/>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="TaskDescription" class="control-label">Task:<span style="color: red;">*</span></label>
                    <input asp-for="TaskDescription" class="form-control" />
                    <span asp-validation-for="TaskDescription" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DueDate" class="control-label">Due Date:</label>
                    <input asp-for="DueDate" class="form-control" type="date" />
                    <span asp-validation-for="DueDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="QuadrantId" class="control-label">Quadrant:<span style="color: red;">*</span></label>
                    <select asp-for="QuadrantId" class="form-control">
                        <option value="" disabled selected>Select a Quadrant</option>
                        <option value="1">Important/Urgent</option>
                        <option value="2">Important/Not Urgent</option>
                        <option value="3">Not Important/Urgent</option>
                        <option value="4">Not Important/Not Urgent</option>
                    </select>
                    <span asp-validation-for="QuadrantId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label">Category:</label>
                    <select asp-for="CategoryId" class="form-control">
                        <option value="" disabled selected>Select a Category</option>
                        <option value="1">Home</option>
                        <option value="2">School</option>
                        <option value="3">Work</option>
                        <option value="4">Church</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Completed" class="control-label">Completed:</label>
                    <select asp-for="Completed" class="form-control">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <span asp-validation-for="Completed" class="text-danger"></span>
                </div>
            </div>
        </div><br />
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
